= provide(:description, @_seo_description)
= provide(:keywords,  @_seo_keywords )

=render partial: 'partials/index_main_banner'
=render partial: 'partials/selector_shop'
=render partial: 'partials/offer_of_the_week'
- current_day_of_week = Date.today.wday
- if current_day_of_week > 0 && current_day_of_week < 6
  =render partial: 'partials/business_lunch'

=render partial: 'partials/how_we_do_it'
=render partial: 'partials/good_people_say'
/=render partial: 'partials/good_people_ordered'
