// Place all the styles related to the admin/admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboards-wrap
  padding-bottom: 65px
  ul.breadcrumbs
    li
      a
        color: #fff
  .form-actions
    input
      background: #FF661B !important
      color: #fff
      width: 100%
  table
    width: 100%
  ul.side-bar
    li
      height: 50px
      border-bottom: 1px solid #FF661B
      &:last-of-type
        border-bottom: none
      &:hover
        background: #FF661B
        a
          color: #fff
      a
        padding-left: 20px
        padding-left: 20px
        line-height: 50px
        padding: 0 0 0 20px
        display: inline-block
        width: 100%
        color: #FF661B
        font:
          family: "Lobster", cursive
          size: rem-calc(18)
          weight: 300
  .dashboard-content-wrap
    background: #fff
  li.edit-user-ico
    svg
      width: 20px
