
updateValue =() ->
  $.getScript('/get_total_price')
  $.getScript('/get_ordered_list')
  $.getScript('/get_total_count_items')

$(document).ready ->
#  =========================
# validate form for basket
#  =========================
  $('#basket-information-form').validate()

  $('input#co_name').rules 'add',
    required: true
    minlength: 2
    messages:
      required: 'Введіть адресу доставки'
      minlength: "Введіть адресу доставки"

  $('input#co_phone').rules 'add',
    required: true
    minlength: 10
    maxlength: 11
    messages:
      required: 'Ввведіть номер телефону'
      minlength: 'Ввведіть номер телефону'
      maxlength: 'Ввведіть номер телефону'


#  =========================
# load total price
#  =========================
  updateValue()

#  =========================
# login form from basket
#  =========================
  $('p.esb-closed span').click ->
    $wrap = $(@).closest('.enter-in-system-from-basket-wrap')
    $form = $wrap.find('form')

    $form.show()
    $('p.esb-button').removeClass('esb-closed')

  $('.esb-button-close').click ->
    $wrap = $(@).closest('.enter-in-system-from-basket-wrap')
    $form = $wrap.find('form')

    $form.hide()
    $('p.esb-button').addClass('esb-closed')

  $('#basket-information-form input').keyup ->

    if $('#basket-information-form').valid()
      $('.check-validate-status-button').hide()

# ==========================
# cart go to finish step
# ==========================
  $('a.cart-go-to-finish-step').click ->
    $wrap = $(@).closest('.basket-modal-wrap')
    address = $wrap.find('input#co_name').val()
    phone = $wrap.find('input#co_phone').val()
    card_code = $wrap.find('input#co-card-code').val()
    comment = $wrap.find('textarea#co-comment').val()

    console.log('address: '+address,' - ', 'phone: '+phone, ' - ', 'comment: '+comment)

    $('#BasketFinishStepModal p.da-address').text(address)
    $('#BasketFinishStepModal p.da-phone').text(phone)
    $('#BasketFinishStepModal p.da-code').text(card_code)
    $('#BasketFinishStepModal p.da-comment').text(comment)

    $('form.order-product').find('[name="address"]').val(address)
    $('form.order-product').find('[name="phone"]').val(phone)
    $('form.order-product').find('[name="card"]').val(card_code)
    $('form.order-product').find('[name="comment"]').val(comment)


#  =========================
# cart validation got ot finish step
#  =========================
  $('.check-validate-status-button').click ->
    $wrap = $(@).closest('.basket-modal-wrap')
    $form = $wrap.find('form')

    $address = $form.find("input[name='street-address']").val()
    $phone = $form.find("input[name='phone']").val()
    $email = $form.find("input[name='email']").val()

    if $('#basket-information-form').valid()
      console.log('validated')


#  =========================
# callback handler for form submit
#  =========================
  $('form.order-form').submit (e) ->
    $this = $(@)
    $form = $this.closest('form')
    product_id = +$form.find('[name=product_id]').val()

    quantity = +$form.find('[name=quantity]').val()
    $sum = +$('.basket-inner .count-wrap span').text()
    $total_price = +$this.find('.basket-total-price-wrap h4 b').text()

    postData = $(this).serializeArray()
    formURL = $(this).attr('action')

    $wrap =$(@).closest('.one-product-wrap')
    $status_adding = $wrap.find('.price-wrap')

    $.ajax
      url: formURL
      dataType: 'json'
      type: "POST"
      data: postData
      beforeSend: ->
        $status_adding.addClass('y-sending')

      success: (data) ->
        $cart_items_wrap = $('.cart-items-wrap')
        if data.added_to_existing
          $cart_items_wrap.children().filter("[data-product-id=#{product_id}]").find('input.one-item-quantity').val(data.quantity)
        else
          $item = data['item_template']
          $('.cart-items-wrap').append($item)

        updateValue()
        setTimeout (->
          $status_adding.removeClass('y-sending')
          $status_adding.addClass('y-success')
        ), 1000
        count = $cart_items_wrap.children().length
        $sum = $sum + quantity
        $('.basket-inner .count-wrap span, .basket-total-price-wrap h4 span').text($sum)
        $('.basket-total-price-wrap h4 b').text()

      complete: ->

#        setTimeout (->
#          $status_adding.removeClass('y-success')
#        ), 4000

      error: ->
        setTimeout (->
          $status_adding.removeClass('y-sending')
          $status_adding.addClass('y-error')
        ), 2000

    e.preventDefault()


#  =========================
# delete item from cart
#  =========================
  $('.cart-items-wrap').on 'submit', 'form.delete-product', (e) ->
    formURL = $(@).attr('action')
    $item = $(@).closest('.one-item')
    _this = $(@)

    $.ajax
      url: "#{formURL}.json"
      type: 'delete'
      dataType: 'json'
      beforeSend: ->
        $item.addClass('slideOutLeft')
      success: ->
        setTimeout (->
          $item.remove()
        ), 500
        count_products = _this.closest('.cart-items-wrap').find('.one-item').length - 1
        $('.basket-inner .count-wrap span, .basket-total-price-wrap h4 span').text(count_products)
        updateValue()

        if count_products == 0
          $('#BasketModal').foundation('reveal', 'close')
          $('.price-wrap').removeClass('y-success')

      e.preventDefault()



# ==================================
# order product
# ==================================
  $('form.order-product').submit (e) ->

    formURL = $(@).attr('action')
    postData = $(this).serializeArray()

    $.ajax
      url: formURL
      type: 'POST'
      data: postData
      beforeSend: ->
        $('.order-products-status-wrap').show()
      success: ->
        $('.order-products-status-wrap').hide()
        $('#BasketOrderedSuccess').foundation('reveal', 'open')
        $('.price-wrap').removeClass('y-success')
        $('.basket-inner .count-wrap span').text('0')
      e.preventDefault()

# ==================================
# init round counter
# ==================================
  $('.round-input .ic-button').click ->
    $form = $(@).closest('form')
    $wrap = $(@).closest('.round-input')
    $input = $wrap.find('[name=quantity]')
    $input_val = +$wrap.find('[name=quantity]').val()

    if $form.hasClass('order-form') && $(@).hasClass('input-count-up')
      $input_val++
      $input.val($input_val)
    else if $form.hasClass('order-form') && $(@).hasClass('input-count-down')

      $input_val--
      if $input_val >= 1
        $input.val($input_val)

# ==================================
# counter for cart
# ==================================
  $('.cart-items-wrap').on 'click', '.one-item .ic-button',(e) ->
    $this = $(@)
    $wrap = $this.closest('.basket-modal-wrap')
    total_count = +$wrap.find('.basket-total-price-wrap h4 span').text()

    $total_price_i = $('.basket-total-price-wrap h4 b')
    $total_price_d = $('.basket-total-price-wrap h4 b sup')

    $item_wrap = $this.closest('.one-item')
    product_id = $item_wrap.attr('data-product-id')
    $items_price_i = $item_wrap.find('.cart-item-price-wrap strong')
    $items_price_d = $item_wrap.find('.cart-item-price-wrap strong sup')

    one_item_price = $item_wrap.attr "data-product-price"
    quantity = +$item_wrap.find('[name=quantity]').val()

    $form = $item_wrap.find('form')
    formURL = $form.attr('action')
    DataToSend = new Object()

    if $(@).hasClass('input-count-up')
      quantity++

      one_item_price = one_item_price * quantity
      $items_price_i.html(one_item_price+"<span>грн</span>")

      $item_wrap.find('[name=quantity]').val(quantity)
      DataToSend =
        product_id: product_id
        quantity: quantity

      $.ajax
        url: "#{formURL}.json"
        type: 'PATCH'
        dataType: 'json'
        data: DataToSend
        success: ->
          updateValue()

    else if $(@).hasClass('input-count-down')
      if $item_wrap.find('[name=quantity]').val()>1
        quantity--

        one_item_price = one_item_price * quantity
        $items_price_i.html(one_item_price+"<span>грн</span>")

        $item_wrap.find('[name=quantity]').val(quantity)
        DataToSend =
          product_id: product_id
          quantity: quantity
        $.ajax
          url: "#{formURL}.json"
          type: 'PATCH'
          dataType: 'json'
          data: DataToSend
          success: ->
            updateValue()
    e.preventDefault()
# ===========================================
# clear form
# ===========================================
  $('a.clear-form').click ->
    $(@).closest('form').find("input, textarea").val("")



