@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext,cyrillic);
@import url(http://code.cdn.mozilla.net/fonts/fira.css);
//@import 'fira-sans';
//@import 'fira-mono';
@import 'foundation_and_overrides';
@import 'animate';
@import 'bxslider';
@import 'main';
@import 'admin/admin';
@import 'owl.carousel';
@import 'owl.theme';
@import 'logos';
@import 'slick';
@import 'slick-theme';

/*@font-face{
    font-family: 'Fira Sans';
    src: url(/assets/FiraSans-Light.eot);
    src: local('Fira Sans Light'),
         url(/assets/FiraSans-Light.eot) format('embedded-opentype'),
         url(/assets/FiraSans-Light.woff) format('woff'),
         url(/assets/FiraSans-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}*/
