@media screen and (min-width: 100px)
  #land_logos
    .bx-wrapper
      background: transparent
      margin: -82px auto 60px

      .bx-loading
        background: none

      .bx-viewport
        background: none
        img
          border-radius: 100px

      .bx-controls
        .bx-prev
          left: 0
          background: url(/assets/controls.png) no-repeat 0 -32px
        .bx-next
          right: 0
          background: url(/assets/controls.png) no-repeat -43px -32px

@media screen and (min-width: 400px)
  #land_logos
    .bx-wrapper
      margin: -111px auto 60px

@media screen and (min-width: 750px)
  #land_logos
    .bx-wrapper
      .bx-controls
        .bx-prev
          left: -50px
        .bx-next
          right: -50px

.hidden-logo
  display: none
